---
import BaseLayout from "@layouts/Base/BaseLayout.astro";
import Header from "@components/Section/Header.astro";
import GetBlogArticles from '@components/Blog/GetBlogArticles.astro'


const pageTitle = "Blog";
const pageDescription = 'Explore the web development blog of Tudor Ciobanu. Get practical insights on Laravel, WordPress, and more, with articles on technical solutions and development challenges.'
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <Header
      title="Blog"
      icon="PhNotebook"
    />

    <GetBlogArticles />


  </section>
</BaseLayout>
