---
import '../styles/global.css'
import BaseLayout from '@layouts/Base/BaseLayout.astro'
import CallToAction from '@components/HomePageSections/CallToAction.astro'
import Header from '@components/Section/Header.astro'
import GetStacks from '@components/Stack/GetStacks.astro'

const pageTitle = 'About Me'

---

<BaseLayout pageTitle={pageTitle}>
	<section>
		<Header title="My Tech Stack" icon="ph:stack" desc="I work with the following tools:" />

		<GetStacks />
	</section>
	<CallToAction />
</BaseLayout>
