---
import BaseLayout from '@layouts/Base/BaseLayout.astro'
import Header from '@components/Section/Header.astro'
import Button from '@components/Form/Button.astro'
import Icon from 'astro-icon'
import AllSocialLinks from '@components/AllSocialLinks.astro'
const pageTitle = 'Thank You'
const pageDescription = ''
---

<BaseLayout pageTitle={pageTitle}>
	<section class="my-10 flex flex-col items-center space-y-5 text-center sm:my-20">
		<h3 class="text-6xl sm:text-8xl font-thin text-primary-200">Thank you!</h3>
		<Header title="for contacting me" desc="" />
		<p class="text-l max-w-[400px] text-slate-500" style="text-wrap: balance">
			You should be receiving an automated email right about *now* to confirm your message sent.
			Then you-ll hear from the real me in less than 24 hours!
		</p>

		<div class="mt-8">
			<Button href="/" title="Return to Website" variant="link" size="lg">
				<Icon name="ph:arrow-left" class="h-5 w-5" />
			</Button>
		</div>
	</section>
</BaseLayout>
