---
import BaseLayout from '@layouts/Base/BaseLayout.astro'
import CallToAction from '@components/HomePageSections/CallToAction.astro'
import Stack from '@components/HomePageSections/MyStack.astro'
import Header from '@components/Section/Header.astro'
import GetWorks from '@components/Work/GetWorks.astro'

const pageTitle = 'Projects'
const pageDescription = 'Explore the web development portfolio of Tudor Ciobanu. See how I use Laravel and WordPress to build dynamic websites and web applications for a variety of clients and industries.'
---

<BaseLayout pageTitle={pageTitle}>
	<section>
		<Header title="Projects I've Worked On!" icon="ph:briefcase" desc="Some of my works." />

		<GetWorks />
	</section>

	<Stack />

	<CallToAction />
</BaseLayout>
