---
import HandIcon from "@components/icons/AnimatedHandIcon.astro";
import Button from "@components/Form/Button.astro";
---

<!-- Hero Section -->
<section class="flex flex-col gap-3">
  <div>
    <HandIcon />
  </div>

  <h2 class="text-3xl font-bold text-slate-900 sm:text-4xl">
    Hi. I'm Tudor, a Laravel and WordPress developer
  </h2>
  <p
    class="text-md font-normal leading-relaxed text-slate-600 sm:text-xl sm:leading-loose"
  >I build fast, secure, and user-friendly web applications and websites from scratch – using Laravel or WordPress. I love solving real-world problems through code and helping people build a strong online presence.
  </p>

  <div class="space-x-4">
    <Button
      href="/about"
      title="About Me"
      icon="ph:arrow-right-bold"
      variant="primary"
      size="lg"
    />

    <Button
      href="/contact"
      title="Contact Me"
      icon="ph:arrow-right-bold"
      variant="secondary"
      size="lg"
    />
  </div>
</section>
<!-- Hero Section -->
